.card {
  background: url('../../assets/pokeball.png') #FFF no-repeat;
  background-position: -150% -450%;
  height: 10.5rem;
  border-radius: 15px;
  box-shadow: 2px 2px 14px rgb(225, 227, 231);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  margin-top: -15%;
  max-height: 5rem;
}

.card .name {
  margin: 1rem 0;
}

.card h3 {
  font-size: 1.2rem;
  display: inline;
  text-transform: capitalize;
  margin: 0 7px 0 0;
}

.card p {
  display: inline;
  font-size: 0.9rem;
  color: rgb(124, 124, 124);
}

.selected {
  border: 2px solid #e80b3e;
  box-shadow: 0 0 10px #e56180;
  height: calc(10.5rem - 4px);
  background-position: -160% -620%;
}

@media screen and (min-width: 1920px) {
  .card {
    background-position: -100% -420%;
  }
  .selected {
    background-position: -110% -600%;
  }
}