.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
  flex-direction: row;
  width: 80vw;
  margin: 3rem auto;
}

.title {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: rgb(146, 150, 161);
}

.cards {
  margin: 3rem 0;
  display: grid;
  column-gap: 30px;
  row-gap: 3.2rem;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
}

.pokemon {
  position: relative;
}

.fixed {
  position: fixed;
  width: 26.3%;
  top: 10px;
}

.not-fixed {
  position: relative;
  width: 100%;
}

.card_pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 0 1rem;
  height: 80vh;
  box-sizing: border-box;
  margin: 5rem 0;
  box-shadow: 4px 4px 22px rgb(226, 230, 237);
}

/* DEFINICAO DAS TAGS */

.tag {
  margin: 0 5px;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
}
.grass {
  background-color: #90c975;
}
.poison {
  background-color: #a782a8;
}
.fire {
  background-color: #f49958;
}
.flying {
  background-color: #b9a9ea;
}
.water {
  background-color: #91aeed;
}
.bug {
  background-color: #b2b87b;
}
.normal {
  background-color: #afae8a;
}
.electric {
  background-color: #f6d647;
}
.ground {
  background-color: #dfc88e;
}
.fighting {
  background-color: #d97673;
}
.ghost {
  background-color: #9d87bb;
}
.fairy {
  background-color: #e29adf;
}
.psychic {
  background-color: #f598b5;
}
.rock {
  background-color: #b4a35f;
}
.steel {
  background-color: #b8b8d0;
}
.ice {
  background-color: #a4d7d7;
}
.dragon {
  background-color: #9d7af7;
}
.dark {
  background-color: #8f8f8f;
}

@media screen and (min-width: 1440px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .fixed {
    top: 55px;
  }
}
